

.columnLayout .mainColumn .container { 
  margin: 10px;
  background-color:rgba(39, 39, 39, 0.75);
  padding: 10px;
  height: 97.2%;
}

.columnLayout .mainColumn .title {
  text-align: center;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  text-shadow: 3px 2px 2px rgb(0, 0, 0);
  letter-spacing: 1px;
  }


  .columnLayout .mainColumn .location {
   padding-left: 50px;
   margin-bottom: 50px;
   padding-bottom: 70px;
   background-color: rgba(39, 39, 39, 0.75);
   border: solid;
   border-color: rgba(15, 15, 15, 0.75);
   border-radius: 2px;
  }
  .columnLayout .mainColumn .location div {
   margin-left: 50px;
  }
  .columnLayout .mainColumn .location img{
   float: right;
   margin-right: 50px;
   margin-top: -10px;
   border: solid;
   border-color: rgba(15, 15, 15, 0.75);
  }

.columnLayout .mainColumn .row-heading {
  background-color: rgba(39, 39, 39, 0.75);
  border: solid;
  border-color: rgba(15, 15, 15, 0.75);
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 300px;
  margin-right: 300px;

}
.columnLayout .mainColumn .row-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-bottom: -22px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}
.columnLayout .mainColumn .box {
  background-color: rgba(39, 39, 39, 0.75);
  border: solid;
  border-color: rgba(15, 15, 15, 0.75);
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.columnLayout .mainColumn .column {
  font-size: 25px;
  text-decoration: underline;
  color: red;
}
.columnLayout .mainColumn .name {

  text-decoration: underline;
  color: yellow;
  text-shadow: 3px 2px 2px rgb(0, 0, 0);
  letter-spacing: 1px;
}
.columnLayout .mainColumn .position {
  text-decoration: underline;
  color: rgb(183, 0, 255);
}
